@page "/categories"
@implements IDisposable
@attribute [Authorize(Roles = "Admin")]
@inject IHttpClientFactory _clientFactory
@inject AuthInterceptor _authInterceptor
@inject IDialogService _dialog

@if (isLoading)
{
    <div class="session-loading-spinner">
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    </div>
}
else
{
    <article>
        <MudTable Items="categoryList" Hover="true" Filter="new Func<CategoryModel, bool>(FilterFunc1)">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Manage Categories</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString1" Immediate="true" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Medium" OnClick="@((e) => OpenDialog())" />
            </ToolBarContent>
            <HeaderContent>
                <MudTh Class="table-heading">
                    <MudTableSortLabel SortBy="new Func<CategoryModel, string>(x => x.Name)">Category</MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Category">@context.Name</MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>No Records Found</MudText>
            </NoRecordsContent>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </article>
}

@code {
    private List<CategoryModel>? categoryList;
    private string searchString1 = "";
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _authInterceptor.RegisterEvent();

        HttpClient httpClient = _clientFactory.CreateClient("ServerAPI");
        categoryList = await httpClient.GetFromJsonAsync<List<CategoryModel>>("Item/GetCategories");

        isLoading = false;
        StateHasChanged();
    }

    private bool FilterFunc1(CategoryModel category) => FilterFunc(category, searchString1);

    private bool FilterFunc(CategoryModel category, string searchString)
    {
        if (String.IsNullOrWhiteSpace(searchString))
            return true;

        if (category.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    private void OpenDialog() => _dialog.Show<Category>("Add Category");
    
    public void Dispose() => _authInterceptor.DisposeEvent();
}
