::deep .container {
    padding: 1em;
    width: 35%;
    margin: auto;
    border-radius: 7px;
}

::deep .password-info {
    color: brown;
}

::deep .mud-card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5em;
    padding: 8px;
}

::deep .mud-card-content{
    padding: 8px;
}

::deep .mud-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}