.container {
    border: 1px solid black;
    padding: 1em;
    width: 35%;
    margin: auto;
    border-radius: 7px;
}

.prompt-message {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.2rem;
}

.success {
    color: var(--success-color);
}

.error {
    color: var(--error-clr);
}

.login-heading {
    text-align: center;
}

::deep .form-section {
    margin-top: 2em;
}

.input-section:not(:first-child) {
    margin-top: 1em;
}

::deep .text-input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.3em;
}

::deep .validation-message {
    color: red;
}

    ::deep .validation-message:not(:first-child) {
        display: none;
    }

.submit-btn {
    background-color: var(--btn-color);
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
}

    .submit-btn:hover {
        background-color: var(--btn-hover-color);
    }

.register-btn{
    margin-top: 1em;
    display: block;
    text-align:center;
}