.container {
    border: 1px solid black;
    padding: 1em;
    width: 35%;
    margin: auto;
    border-radius: 7px;
}

.prompt-message {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.2rem;
}

.success {
    color: var(--success-color);
}

.error {
    color: var(--error-clr);
}

.register-heading {
    text-align: center;
}

.password-info {
    color: brown;
    margin-top: 1em;
}

::deep .form-section {
    margin-top: 2em;
}

.input-section:not(:first-child) {
    margin-top: 1em;
}

label:not(.role-label) {
    display: block;
}

    label:not(.role-label)::after {
        content: '*';
        color: red;
    }

.radio-section {
    margin-top: 0.3em;
    display: flex;
    width: 30%;
    justify-content: space-between;
}

::deep .text-input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.3em;
}

::deep .validation-message{
    color:red;
}

::deep .validation-message:not(:first-child){
    display: none;
}

::deep input[type="radio"] {
    margin: 0;
}

.submit-btn {
    background-color: var(--btn-color);
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
}

    .submit-btn:hover {
        background-color: var(--btn-hover-color);
    }

.login-btn{
    display: block;
    margin-top: 1em;
    text-align: center;
}