<article class="container">
    <h2 class="register-heading">Register</h2>
    <p class="password-info">Password should have a minimum of 8 characters and must contain atleast one uppercase, one lowercase and a digit</p>
    <form>
        <section class="input-section">
            <label for="FirstName">First Name</label>
            <input type="text" name="FirstName" id="FirstName" />
        </section>
        <section class="input-section">
            <label for="LastName">Last Name</label>
            <input type="text" name="LastName" id="LastName" />
        </section>
        <section class="input-section">
            <label for="Email">Email</label>
            <input type="text" name="Email" id="Email" />
        </section>
        <section class="input-section">
            <label for="Password">Password</label>
            <input type="password" name="Password" id="Password" />
        </section>
        <section class="input-section">
            <label for="ConfirmPassword">Confirm Password</label>
            <input type="password" name="ConfirmPassword" id="ConfirmPassword" />
        </section>
        <section class="input-section">
            <p>Role</p>
            <div class="radio-section">
                <div class="user-value">
                    <input type="radio" name="Role" id="User" value="User" checked />
                    <label for="User" class="role-label">User</label>
                </div>
                <div class="admin-value">
                    <input type="radio" name="Role" id="Admin" value="Admin" />
                    <label for="Admin" class="role-label">Admin</label>
                </div>
            </div>
        </section>
        <section class="input-section">
            <input type="submit" value="Submit" class="submit-btn" />
        </section>
    </form>
</article>

@code {

}
